<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DropBoxConfig" type="Illallangi.CloudStoragePS.Config.DropBoxConfig,Illallangi.CloudStoragePS"/>
    <section name="FlickrConfig" type="Illallangi.CloudStoragePS.Config.FlickrConfig,Illallangi.CloudStoragePS"/>
  </configSections>
  <DropBoxConfig ApiKey="o4cfz8fcd0oj4a6" AppSecret="jp9h2s3f9upm9oz" TokenCache="%localappdata%\Illallangi Enterprises\CloudStoragePS\DropBox.json"/>
  <FlickrConfig ApiKey="ca1c14555c89e74a5206192da1a55cd8" SharedSecret="d00e408a587252f9" TokenCache="%localappdata%\Illallangi Enterprises\CloudStoragePS\Flickr.json"/>
</configuration>