<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DropBoxConfig" type="Illallangi.CloudStoragePS.Config.DropBoxConfig,Illallangi.CloudStoragePS"/>
  </configSections>
  <DropBoxConfig ApiKey="o4cfz8fcd0oj4a6" AppSecret="jp9h2s3f9upm9oz" TokenCache="%localappdata%\Illallangi Enterprises\CloudStoragePS\DropBox.json"/>
</configuration>